   <body>



    <div class="row">
    <div class="span8">
   





<table class="table table-bordered">

    <h1>Listing adds</h1>


  <tr>
    <th>Advertistment</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @adds.each do |add| %>
  <tr>
    <td><%= add.advertistment %></td>
    <td><%= add.image %></td>
    <td>
    <p>
    <%= link_to 'Show', add, class: "btn btn-small btn-primary" %></p>
    </td>
    
    </p>
    
    <td><%= link_to 'Edit', edit_add_path(add), class: "btn btn-small btn-primary" %></td>
    <td><%= link_to 'Destroy', add, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-primary" %></td>
    <td><%= link_to 'Post', "/facebook/fbpostsetup/"+add.id.to_s , class: "btn btn-small btn-primary" %></td>
  </tr>
<% end %>
</table>


<%= link_to 'New Add', new_add_path %>








    





